body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #160721;
}

header {
    background-color: #160721;
    border-bottom: 3px solid rgb(116, 0, 139);
    padding: 20px 30px;
  }

/* Container interno que realmente faz o flex */
.header-container {
    display: flex;
    justify-content: space-between; /* Logo à esquerda, nav à direita */
    align-items: center;
    max-width: auto; /* Exemplo de largura máxima */
    margin: 0 auto;    /* Centraliza o container */
  }

/* Botão hamburguer: linhas */
.menu-toggle {
    display: none; /* Escondido por padrão em telas grandes */
    cursor: pointer;
  }
  
  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #ffffff;
    transition: 0.3s;
  }
  
  .nav-links {
    top: 70px;
    right: 0px;
    background-color: #160721;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    display: flex;
    padding: 20px;
    position: static;
  }   

html {
    scroll-behavior: smooth;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fd001d;
}

.cta {
    background-color: #fd001d;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.cta:hover {
    background-color: #ff4c4c;
}

.hero {
    position: relative;
    background-image: url('imagens/hero-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;
    color: #ffffff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 0, 0, 0.288);
    backdrop-filter: blur(0px);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
}

.hero h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    background-color: #ffffff;
}

.contact-box {
    background: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    box-shadow: 0px 4px 10px rgb(255, 255, 255);
}

.contact-content {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    max-width: 600px;
}

.contact-line {
    height: 2px;
    width: 50px;
    background-color: #fd001d;
    margin: 0 20px;
}

.contact-button .cta {
    background-color: #fd001d;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

.contact-button .cta:hover {
    background-color: #ff4c4c;
}

.problem-section {
    background-color: #000000;
    padding: 60px 30px;
    text-align: center;
}

.problem-section h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}

.problem-line {
    width: 160px;
    height: 3px;
    background-color: #fd001d;
    margin: 0 auto 20px;
}

.problem-subtext {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin: 2px auto;
    text-align: center;
    display: block;
    white-space: normal;
    line-height: 1.4;
}

.highlight {
    color: #ffffff;
    background-color: rgb(253, 0, 30);
    padding: 0 4px;
    border-radius: 4px;
    font-weight: bold;
}

.problems-image-container {
    margin-top: 40px;
    text-align: center;
}

.problems-image-container img {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}

.problems-text-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.problem-text-item p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #ffffff;
    opacity: 0.9;
    line-height: 1.5;
    margin: 0;
}

.method-section {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 60px 30px;
}

.method-section h2 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.method-image img {
    max-width: 70%;
    height: auto;
    margin-bottom: -50px;
}

.method-subtext {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
}

.method-noble {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

.method-line {
    width: 80px;
    height: 3px;
    background-color: #fd001d;
    margin: 10px auto;
}

.benefits-section {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 60px 30px;
}

.benefits-line {
    width: 160px;
    height: 3px;
    background-color: #fd001d;
    margin: 10px auto 20px;
}

.benefits_img_container {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.benefits_img_container img {
    max-width: 55%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.cta {
    background-color: #fd001d;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.cta:hover {
    background-color: #ff4c4c;
}

.cta-container {
    text-align: center;
    margin-top: 20px;
}

.cta-metodo {
    background-color: #fd001d;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

.cta-metodo:hover {
    background-color: #ff4c4c;
}

.cta-form {
    background-color: #fd001d;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

.cta-form:hover {
    background-color: #ff4c4c;
}

.product-section {
    background: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.644)), url('imagens/about-bg.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 60px 30px;
}

.product-section h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.highlight-product {
    color: #ffffff;
    background-color: rgb(253, 0, 30);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    padding: 0 4px;
    border-radius: 4px;
    font-weight: bold;
}

.product-line {
    width: 80px;
    height: 3px;
    background-color: #fd001d;
    margin: 10px auto 20px;
}

.product-subtext {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #ffffff;
    line-height: 1.8;
    text-align: center;
    max-width: 900px;
    margin: 0 auto 40px;
    margin-bottom: -30px;
}

.highlight-product-subtext {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    padding: 0 4px;
    border-radius: 4px;
}

.product-image-container {
    text-align: center;
}

.product-image-container img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}

.about-section {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 60px 30px;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-section h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.about-line {
    width: 80px;
    height: 3px;
    background-color: #fd001d;
    margin: 10px auto 30px;
}

.about-text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about-highlight {
    color: #ff0000;
    font-weight: bold;
    font-size: 32px;
    padding: 0 4px;
    border-radius: 4px;
}

.form-section {
    background-color: #000000;
    color: #ffffff;
    padding: 60px 30px;
    text-align: center;
    margin-top: -50px;
}

.form-content {
    max-width: 600px;
    margin: 0 auto;
}

.form-section h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 10px;
}

.form-section p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #ffffff;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.form-group label {
    display: block;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
}

.form-group select {
    border: 2px solid #fd001d;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    outline: none;
    text-align: center;
    text-align-last: center;
    background-color: #000000;
    color: #ffffff;
}

::placeholder {
    color: #999;
    font-style: italic;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    border: 2px solid #fd001d;
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    text-align: center;
    font-weight: bold;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #ff4c4c;
}

.cta {
    background-color: #fd001d;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta:hover {
    background-color: #ff4c4c;
}

.about-noble-section {
    position: relative;
    background-image: url('imagens/about-noble-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    padding: 60px 30px;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
}

.about-noble-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 1;
}

.about-noble-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
}

.about-noble-section h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.about-noble-line {
    width: 80px;
    height: 3px;
    background-color: #fd001d;
    margin: 10px auto 30px;
}

.about-noble-text {
    max-width: 700px;
    margin: 0 auto 20px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #ffffff;
}

.faq-section {
    background-color: #000000;
    color: #ffffff;
    padding: 60px 30px;
    text-align: center;
}

.faq-section h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.faq-line {
    width: 80px;
    height: 3px;
    background-color: #fd001d;
    margin: 10px auto 30px;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.faq-item {
    border-bottom: 1px solid #444;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.faq-question {
    background: none;
    border: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
}

.faq-question:hover {
    color: #fd001d;
}

.faq-icon {
    font-size: 24px;
    font-weight: bold;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.faq-answer p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
    padding: 0 10px 10px 0;
    color: #ffffff;
}

.faq-item.active .faq-answer {
    max-height: 200px;
}

.footer {
    background-color: #160721;
    color: #ffffff;
    padding: 20px 30px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0 0 10px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 20px;
}

.footer-nav ul li {
    display: inline;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer-nav ul li a:hover {
    color: #fd001d;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 0;
    border: 3px solid #fd001d;
    width: 80%;
    max-width: 500px;
    position: relative;
    text-align: center;
}

.modal-content h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    margin: 20px 0 10px;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    color: #fd001d;
}

.modal-logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 120px;
}

/* MEDIA QUERIES PARA RESPONSIVIDADE */

/* Tablets e dispositivos com largura até 768px */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px 20px;
    }

    /* Mostra o ícone hamburguer */
      .menu-toggle {
        display: block;
        z-index: 9999;
    }

    .nav-links {
        display: none;           /* Some em telas menores */
        position: absolute;
        top: 65px;               /* Ajuste conforme a altura do header */
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: #160721;
        padding: 20px;
        text-align: center;
        z-index: 9999;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .nav-links li a {
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        display: block;
    }
    .logo img {
        height: 40px;
    }
    
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    
    nav ul li a {
        font-size: 16px;
    }
    
    .hero {
        height: auto;
        padding: 0 20px;
        background-image: url('imagens/mobile/hero-bg.png');
    }
    
    .hero h1 {
        font-size: 28px;
        text-align: center;
    }

    .problems-image-container img {
        max-width: 100%;
    }

    .problems-text-container {
        display: flex;              /* Permite usar align-items e flex-direction */
        flex-direction: column;     /* Coloca os itens em coluna */
        align-items: center;        /* Centraliza horizontalmente o conteúdo no contêiner */
        gap: 20px;                  /* Espaçamento entre cada bloco de texto */
        margin: 20px auto;          /* Auto nas laterais para centralizar o contêiner */
        max-width: 800px;           /* Limite de largura */
    }      

    .problem-text-item p {
        font-size: 18px;
        width: 80%;
        margin: 0 auto;             /* Garante que o texto em si fique centralizado se houver largura fixa */
        text-align: center;         /* Centraliza o texto dentro do parágrafo */
    }

    .contact-button .cta {
        font-size: 16px;
        text-align: center;
    }
    
    .method-image img {
        max-width: 100%;
    }

    .benefits_img_container img {
        max-width: 90%;
    }

    .product-image-container img {
        max-width: 90%;
    }

    .contact-section,
    .problem-section,
    .method-section,
    .benefits-section,
    .product-section,
    .about-section,
    .form-section,
    .faq-section {
        padding: 40px 20px;
    }
    
    .hero-content, 
    .about-content,
    .about-noble-content,
    .faq-container {
        max-width: 100%;
    }
    
    .problem-subtext {
        font-size: 20px;
    }
    
    .method-section h2 {
        font-size: 22px;
    }
    
    .product-section h2 {
        font-size: 22px;
    }
    
    .product-subtext {
        font-size: 18px;
    }
    
    .form-section h2 {
        font-size: 28px;
    }
    
    .form-group input,
    .form-group textarea,
    .form-group select {
        font-size: 14px;
        padding: 8px;
    }
    
    .cta, .cta-metodo {
        font-size: 16px;
        padding: 10px 20px;
    }
    
    .footer-text,
    .footer-nav ul li a {
        font-size: 14px;
    }
    
    .modal-content {
        width: 90%;
        max-width: 400px;
    }
    
    .modal-content h2 {
        font-size: 24px;
    }
}

/* Celulares e dispositivos com largura até 480px */
@media (max-width: 480px) {
    header {
        padding: 10px 15px;
    }
    
    .logo img {
        height: 35px;
    }

    .nav-links {
        top: 60px;
        padding: 10px;
    }
    
    nav ul {
        flex-direction: column;
        gap: 5px;
    }
    
    nav ul li a {
        font-size: 14px;
    }
    
    .hero {
        background: url('imagens/mobile/hero-bg.png');
        background-size: cover;
        height: auto;
        padding: 0 15px;
    }
    
    .hero h1 {
        font-size: auto;
        text-align: center;
    }

    .problem-section h2 {
        font-size: 30px;
    }

    .problem-section p {
        font-size: 22px;
    }

    .method-section h2 {
        font-size: 26px;
    }

    .problems-image-container {
        position: relative;   /* Permite posicionamento do conteúdo interno */
        width: 100%;          /* O contêiner ocupa toda a largura disponível */
        overflow: visible;    /* Ou 'hidden' se quiser cortar a parte que excede */
        margin: 40px auto;    /* Espaço superior e inferior, centralizado se for um bloco */
        text-align: center;   /* Pode ser útil para outros elementos */
    }

    .problems-image-container picture,
    .problems-image-container img {
        display: block;
        position: relative;   /* Para usar left e transform */
        width: 150%;          /* Imagem maior que o contêiner */
        left: 50%;            /* Centraliza metade da imagem */
        transform: translateX(-50%); /* Move a imagem para a esquerda em 50% do seu tamanho */
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }

    .benefits_img_container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Alinha verticalmente se necessário */
        overflow: hidden; /* Se quiser cortar partes que ultrapassem */
        margin: 40px auto;
    }
    
    .benefits_img_container picture {
        display: flex;
        justify-content: center; /* Garante que a imagem dentro do <picture> fique alinhada */
        width: 100%;
    }
    
    .benefits_img_container img {
        max-width: 125%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .product-image-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Alinha verticalmente se necessário */
        overflow: hidden; /* Se quiser cortar partes que ultrapassem */
        margin: 40px auto;
    }
    
    .product-image-container picture {
        display: flex;
        justify-content: center; /* Garante que a imagem dentro do <picture> fique alinhada */
        width: 100%;
    }
    
    .product-image-container img {
        max-width: 110%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    
    .problem-section,
    .method-section,
    .benefits-section,
    .product-section,
    .about-section,
    .form-section,
    .faq-section {
        padding: 30px 15px;
    }
    
    .hero-content, 
    .about-content,
    .form-content,
    .about-noble-content,
    .faq-container {
        max-width: 100%;
    }
    
    .problem-subtext {
        font-size: 18px;
    }
    
    .product-section h2,
    .form-section h2 {
        font-size: 20px;
    }
    
    .product-subtext {
        font-size: 18px;
    }

    .highlight-product-subtext {
        font-size: 18px;
    }

    .contact-section {
        padding: 30px 15px;
        flex-direction: column; /* Empilha os itens */
    }

    .contact-content {
        order: 1;
        margin-right: 0;       /* Remove margem lateral */
        margin-bottom: 20px;   /* Espaçamento abaixo do texto */
    }

    .contact-line {
        order: 2;
        margin: 0 0 20px;      /* Espaçamento acima e abaixo */
    }

    .contact-button {
        order: 3;
    }
    
    .form-group input,
    .form-group textarea,
    .form-group select {
        font-size: 14px;
        padding: 14px;
    }
    
    .cta, .cta-metodo {
        font-size: 14px;
        padding: 8px 16px;
    }

    .cta-form {
        font-size: 14px;
        padding: 10px 20px;
    }
    
    .footer-text,
    .footer-nav ul li a {
        font-size: 12px;
    }
    
    .modal-content {
        width: 90%;       /* Fica um pouco maior que 80% */
        max-width: 300px; /* Limite máximo menor em telas bem pequenas */
        font-size: 18px;  /* Fonte menor para caber melhor */
        padding: 15px;    /* Ajusta o padding para telas pequenas */
    }

    .modal-content h2 {
    font-size: 24px; /* Diminui o tamanho do título */
    }
}
